* {
    margin: 0;
    padding: 0;
    font-family: Comic Sans MS, Comic Sans, cursive;
    line-height: 1.5;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

a h3 {
    color: white;
    margin: 15px;
    padding: 15px;
    border: solid rgb(255, 255, 255) 2px;
    display: flex;
    display: inline;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    width: 70%;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #fff;
    z-index: 1;
    border-bottom: 1.5px solid black;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu ul {
    margin-right: 20px;
}

.menu ul li {
    margin: 0 auto;
    font-size: 25px;
    margin-left: 25px;
    display: inline;
    align-items: center;
    padding: 0 auto;
}

.menu ul li:first-child {
    margin-left: 0px;
}

.content {
    max-height: 80%;
    padding: 0 auto;
    margin: 105px 0 0 0;
    align-items: center;
}

.bgimage {
    min-width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(images/bg.jpg);
    min-height: 768px;
}

.overlay_color {
    background-color: rgba(1, 1, 36, 0.678);
    width: 100%;
    height: 768px;
}

.header_text {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 30px;
}

.header_buttons {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    align-items: center;
}

.header_buttons a {
    transform: scale(1);
    transition: 0.5s;
}

.header_buttons a:hover {
    transform: scale(1.1);
    transition-duration: 0.4s;
}

.lang_boxes {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-bottom: 1.5px solid black;
}

.lang_boxes h2 {
    text-align: center;
    padding-top: 15px;
    font-size: 30px;
}

.box_container {
    padding: 5% 5% 10% 5%;
    display: flex;
    justify-content: space-between;
}

.box_container .box a {
    display: block;
    margin-bottom: 15px;
}

.box_container .box:hover {
    transform: scale(1.1);
    box-shadow: 0 9px 0px 0px #fafafa, 0 -9px 0px 0px white, 12px 0 15px -4px rgba(31, 73, 125, 0.8), -12px 0 15px -4px rgba(31, 73, 125, 0.8);
}

.box_container .subbox {
    margin: 0;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    transition-property: opacity, visibility;
    transition-duration: 0.35s;
    transition-delay: 0.2s;
}

.box_container .box:hover .subbox {
    display: block;
    opacity: 1;
    visibility: visible;
}

ul li {
    text-align: center;
    justify-content: center;
}

ul .subbox li a {
    font-weight: bold;
    border-bottom: 1px solid black;
}

.box img {
    width: 80%;
    height: 100%;
}

.box {
    height: 550px;
    padding: 7% 0 7% 0;
    margin: 2%;
    transform: scale(1);
    transition: 0.5s;
}

.contacts {
    padding: 25px 0 30px 0;
}

.subscribe-text {
    padding-bottom: 15px;
    font-weight: bold;
}

.contacts h1 {
    position: relative;
    padding-bottom: 15px;
    text-align: center;
    font-size: 30px;
}

.tel ul li {
    width: 45%;
    text-align: left;
    position: relative;
    left: 50%;
    line-height: 2;
}

.tel ul li a {
    font-weight: bold;
}

.newsletter {
    position: relative;
    left: 15%;
    margin-right: -150px;
}

.tel {
    padding-top: -100px;
}

.footer {
    background-color: black;
    min-height: 60px;
    max-height: 10%;
    text-align: center;
    justify-content: center;
    color: white;
    padding: 30px 0 0 0;
}

.invisible {
    position: absolute;
    top: 106%;
}

.newsletter {
    float: left;
}